/* InputFecha.css */
.input-fecha {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.input-fecha h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.input-fecha input[type="date"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
}

.input-fecha button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-fecha button:hover {
  background-color: #0056b3;
}

button{
  margin: 10px;
}